.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    height: 77px;
}
.navcontainer{
    display: flex;
    width: 80vw;
    color: white;
    
    font-size: 25px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    position: relative;
}

.userprofile{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right:0;
    bottom: 150;
}
.userprofile>button{
    width: 150px;
    height: 40px;
    background: white;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}